<footer>
    <div class="bg-dark">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-4 items">
                    <a class="logo">
                        <img src="" alt="" data-src="/dist/images/logo.png" uk-img>
                    </a>
                    <p class="text-light pt-md-3">
                        That’s why we pick for
                        <b>GhinLopThemes</b> only themes that check all the vital requirements to help your site grow nicely.
                        Quality is the main thing we keep in mind when we select the free themes that will be featured on
                        this site. Enjoy our collection and don’t hesitate to contact us at
                        <a class="text-white" href="mailto:design@ghinlop.com">design@ghinlop.com</a> if you have something to tell us!
                    </p>
                </div>
                <div class="col-md-4 items">
                    <h4 class="text-light text-uppercase py-3 border-bottom border-secondary vutafont">
                        categories
                    </h4>
                    <ul class="nolist link-footer">
                        <li>
                            <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Ecommerce</a>
                        </li>
                        <li>
                            <a href="#">Fashsion</a>
                        </li>
                        <li>
                            <a href="#">Blogging</a>
                        </li>
                        <li>
                            <a href="#">Photography</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 items">
                    <h4 class="text-light text-uppercase py-3 border-bottom border-secondary vutafont">
                        newsletter
                    </h4>
                    <p class="text-light">
                        Enjoy our newsletter to stay updated with the latest news one
                        <b>Ghinlop Themes</b>
                    </p>
                    <form action="">
                        <div class="uk-margin" uk-margin>
                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Enter your email">
                            <button class="uk-button uk-button-default text-light">Submit</button>
                        </div>
                    </form>
                    <ul class="nolist d-flex mt-2 border-top border-secondary py-3">
                        <li class="mr-2"><a href="" uk-icon="icon: facebook; ratio: 1.3"></a></li>
                        <li class="mr-2"><a href="" uk-icon="icon: google; ratio: 1.3"></a></li>
                        <li class="mr-2"><a href="" uk-icon="icon: youtube; ratio: 1.3"></a></li>
                        <li class="mr-2"><a href="" uk-icon="icon: github; ratio: 1.3"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-black text-center text-uppercase text-muted py-3">
        © Copyright 2018 - Development by GhinLopThemes.
    </div>
</footer>
</div>

<script src="/dist/jquery/jquery-3.3.1.min.js"></script>
<script src="/dist/gui/js/uikit.min.js"></script>
<script src="/dist/gui/js/uikit-icons.min.js"></script>
<script src="/dist/main/js/wow.js"></script>
<script src="/dist/main/js/main.js"></script>
</body>

</html>