<section class="breadcrumb container py-3">
    <ul class="uk-breadcrumb align-items-center">
        <li>
            <a href="#">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
        <li class="uk-disabled">
            <a>Disabled</a>
        </li>
        <li>
            <span>Active</span>
        </li>
    </ul>
</section>