<div class="sologun desk-md-full">
    <div class="container">
        <div class="row py-5 align-items-center">
            <div class="col-md-5 d-md-inline-block d-none banner-header">
                <img src="" alt="" data-src="/dist/images/web-2.png" uk-img="">
            </div>
            <div class="col-md-7 mt-md-5 mt-3 text-light text-center">
                <h4 class="text-uppercase">785+ AWESOME, PIXEL PERFECT & FREE</h4>
                <h1 class="uk-text-bold mb-md-5 mb-3 text-uppercase">HTML & Wordpress themes</h1>
                <a href="" class="uk-button uk-button-default uk-button-large text-dark bg-light">get now</a>
            </div>
        </div>
    </div>
</div>