<section class="bg-light">
    <div class="container py-md-5 py-3">
        <h1 class="text-dark">
            Bcorporate
        </h1>
        <ul class="nolist d-inline-flex uk-iconnav content-tags">
            <li>
                <a class="uk-button uk-button-default rounded" href="#">Business</a>
            </li>
            <li>
                <a class="uk-button uk-button-default rounded" href="#">Corporate</a>
            </li>
            <li>
                <a class="uk-button uk-button-default rounded" href="#">Ecommerce</a>
            </li>
        </ul>
    </div>
</section>